html {
    display: flex;
}
body {
    display: flex;
    width: 1400px;
    height: 700px;
    justify-content: center;
    background-color: #FFF;
}
.container {
    display: flex;
    width: 600px;
    height: 400px;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #668CA8;
}
body, .container {
    align-items: center;
}
.credit-card, .sceptic {
    width: 200px;
    height: 200px;
}